body {
  font-family: Arial, sans-serif;
  background: rgb(37, 36, 68);
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

main {
  min-width: 450px;
  max-width: 900px;
  background: rgb(10, 10, 38);
  border: 2px solid white;
  margin: 30px;
  transition: box-shadow 0.18s ease, transform 0.12s ease, border 0.12s ease;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 9px;
}

.name-moto {
  margin-top: 0px;
  display: inline-block;
  justify-content: space-around;
}

.moto {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.678);
}
.search {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 15px;
}

.search-input {
  width: 100%;
  padding: 10px 12px 10px 36px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 15px;
  background: rgb(52, 167, 164);
  border: none;
}

.search-input::placeholder {
  color: white;
}

.search i.fa-search {
  position: absolute;
  left: 12px;
  top: 7px;
  color: white;
  pointer-events: none;
}

.error {
  background: rgb(221, 43, 43);
  position: fixed;
  min-width: 450px;

  height: 40px;
  top: 100px;
  text-align: center;
  display: inline-block;
  align-content: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 30px 30px;
  z-index: 11;
  animation: popup 3.2s ease-in-out;
}

@keyframes popup {
  0% {
    opacity: 0;
    height: 0;
  }

  33% {
    opacity: 1;
    height: 40px;
  }

  66% {
    opacity: 1;
    height: 40px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
.add-task {

  display: inline-block;
  justify-content: center;
  place-items: center;
  color: rgb(255, 255, 255);
  padding: 30px;
  border-bottom: 2px solid white;
  margin: 0;
  gap: 10px;
}

.add-task * {
  height: 30px;
  margin: 4px 5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid whitesmoke;
  color: white;
}

.add-task *::placeholder {
  color: white;
}

#taskText {
  width: 230px;
}


#taskDeadline {
  background: #ffffff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
}

.priority {
  border: none;
  margin: 0;
  font-size: 13px;
  align-content: center;
}

#priority {
  border-radius: 6px;
  margin: 0;
}


#option,
#option2,
#option3 {
  color: black;

}
